@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #DCD6F7;
  --foreground: #423E3B;
  --color1:#05299E;
  --color2: #F6AE2D;
  --color3:#A4031F; 

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #423E3B;
    --foreground: #DCD6F7;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Rubik", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
